<!--Nedkortad med hjälp av förinlagd sökväg i _ViewImports.cshtml -->
<!--Alternativt %model WebAppDemo.Models.PersonModel ( % ersätts med (at)-tecken) -->
@model PersonModel

@{
    ViewData["Title"] = "Persons";
}

<h1>Persons</h1>

<table class="personTable">
    <tr>
        <td>
        </td>
    </tr>
</table>