<!--Nedkortad med hjälp av förinlagd sökväg i _ViewImports.cshtml -->
<!--Alternativt %model WebAppDemo.Models.PersonModel ( % ersätts med (at)-tecken) -->
@model PersonModel

@{
    ViewData["Title"] = "Persons";
}

<h1>Persons</h1>

<table class="personTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>City</th>
        </tr>
    </thead>
</table>