<!--Nedkortad med hjälp av förinlagd sökväg i _ViewImports.cshtml -->
<!--Alternativt %model WebAppDemo.Models.PersonModel ( % ersätts med (at)-tecken) -->
@model PersonModel

@{
    ViewData["Title"] = "Persons";
}

<h1>Persons</h1>

<table class="personTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in PersonModel.listOfPersons)
        {
            <tr>
                <td>@item.PersonName</td>
                <td>@item.PersonPhoneNumber</td>
                <td>@item.PersonCity</td>
            </tr>
        }
    </tbody>
</table>