@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Min MVC Projects";
}

<h1>Projects</h1>

<h3>@ViewBag.Message</h3>
<h3>GitHub Links</h3>
<p><a href="https://github.com/magicdrunkmonkey/JavaScript-Game-Sokoban">Sobokan Game</a></p>
<p><a href="https://github.com/magicdrunkmonkey/VendingMachine"> Vending Machine</a></p>
<p><a href="https://github.com/magicdrunkmonkey/Hangman"> Hangman</a></p>