@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "GuessNumber";
}

<h1>Guess the number</h1>

<h3>Guess Result</h3>
<p>@ViewBag.guessResult</p>
<p>@ViewBag.newGame</p>
<form asp-controller="GuessingGame" asp-action="GuessNumber" method="post">
    <label>Guess a number between 1 and 100:</label>
    <input type="number" name="guessedNumber" />
    <input type="submit" value="Enter guess" />
</form>
<br />
<div class="GuessNumberCheat">
    <h3>(Denna rutan är endast för att underlätta kollen av genererat number och är inte en del av hemsidan i vanliga fall.)</h3>
    <p style="color:yellow">Hemliga numret är @ViewBag.test</p>
</div>